{* -*- coding: utf-8 -*- *}
<?caty-meta template="smarty-mx" ?>
{function match="object" type="object"}
  <span>INPUT</span>
{/function}

{function match="output" type="object"}
  <span>OUTPUT</span>
{/function}

{apply context=$CONTEXT}
